<!DOCTYPE html>
<html>
<head><title>Pray la</title></head>
    <body>
        {% if result %}
        {% for row in result %}
        <li>
            <span class="text">{{ row[1] }}</span>
            <i id="removeBtn" class="icon fa fa-trash"></i>
        </li>
        {% endfor %}
        {% else %}
            <li><span class='text'>No Record Found.</span></li>
        {% endif %}
        <table>
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in result.items() %}
        <tr>
            <td> {{ key }} </td>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </body>
</html>