<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
    input,select,p {
        font-size: 200%;
    }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="border position-absolute top-50 start-50 translate-middle w-25 h-50" action="/data" method = "POST" >
        <div class="d-flex flex-column mb-3">   
            <div class="p-2">
                <label for="fullName" class="form-label">Name</label>
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Guest Name" minlength = "3" maxlength="15">
            </div>
            <div class="p-2">
                <label for="mobileNumber" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="mobileNumber" placeholder="Guest Phone Number" name="mobileNumber"min=1 max="99999999">
            </div>
            <div class="p-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Guest Email" name="email" minlength = "10" maxlength="30">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto p-2">
                <button class="btn btn-primary btn-lg mt-3" type="submit">Submit form</button>
            </div>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>
